.create-body {
    background-color: rgb(17, 17, 17);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.create-icon {
    width: 50px;
    height: 50px;
    margin-right: 25px;
    margin-left: 40px;
}

.create-title {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
}

.create-title h1 {
    font-size: 40px;
}

.create-top h3 {
    color: white;
    margin-bottom: 100px;
    font-family: Poppins, "Poppins Fallback", Helvetica, Arial, sans-serif;
    margin-left: 60px;
}

.all-board {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
}