.create-body {
    background-color: rgb(17, 17, 17);
    width: 100%;
    min-height: calc(100vh - 80px);
    /* leave space for header if header is ~80px tall */
    margin-top: 70px;
    /* same value as header height */
    position: relative;
    ;
}

.create-icon {
    width: 50px;
    height: 50px;
    margin-right: 25px;
    margin-left: 40px;
}

.create-title {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
}

.create-title h1 {
    font-size: 40px;
}

.create-top h3 {
    color: white;
    margin-bottom: 100px;
    font-family: Poppins, "Poppins Fallback", Helvetica, Arial, sans-serif;
    margin-left: 60px;
}

.all-board {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
}

.create-page-next {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-top: 30px;
}

.create-page-next button {
    border-radius: 10px;
    background-color: rgb(123, 81, 209);
    height: 3rem;
    margin-right: 160px;
    color: white;
    max-width: 12rem;
    width: 100%;
    font-family: Poppins, "Poppins Fallback", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75;
}