.column-main {
    display: flex;
    flex-direction: row;
    background-color: rgb(34, 34, 34);
    margin-top: 150px;
    min-height: 500px;
    max-height: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.column-item-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 200px;
    /* height: 50px; */
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: none;
    height: 100%;
    background-color: rgb(33, 33, 33);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    border-image: initial;
    overflow: hidden;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 50px;
    line-height: 1.4375em;
    font-family: Poppins, "Poppins Fallback", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(232, 237, 239);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    /* align-items: center; */
    width: 100%;
    position: relative;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
}

.column-item-main input {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    min-width: 0px;
    width: 100%;
    padding: 8.5px 14px;
    /* border: 8px; */
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-left: 8px solid #3DB6B1;
    border-radius: 8px;
    /* border-width: 1px; */
    border-style: solid;
    /* border-color:  */
    border-image: initial;
    align-self: flex-start;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.column-title {
    display: flex;
    flex: row;
}

.column-title img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 25px;
}

.column-title input {
    margin-top: 20px;
}

.column-delete {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
}

.column-delete img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-right: 8px;
    /* color: white; */
}

.column-delete button {
    background-color: inherit;
    border: none;
    font: inherit;
    color: inherit;
    margin-top: 5px;
}

.column-color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: blue;
    top: 0;
    left: 0;
    position: absolute;
    margin-left: 15px;
    margin-top: 4px;
}

.column-color-container {
    width: 100%;
    padding: 8.5px 14px;
    position: relative;
    /* border: 8px; */
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-left: 8px solid #3DB6B1;
    border-radius: 8px;
    /* border-width: 1px; */
    border-style: solid;
    /* border-color:  */
    border-image: initial;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    min-width: 0px;
    width: 100%;
    margin-left: 10px;
}