.header-body {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 80px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-body h1 {
    font-size: 40px;
    color: white;
    margin-left: 30px;
    font-family: Poppins, "Poppins Fallback", Helvetica, Arial, sans-serif;
}

.header-user {
    display: flex;
    align-items: center;
    gap: 10px;
    /* space between avatar and name */
    cursor: pointer;
    position: relative;
    margin-right: 50px;
}

.header-user span {
    color: white;
    font-family: Poppins, "Poppins Fallback", Helvetica, Arial, sans-serif;
}