.item-container {
    display: flex;
    flex-direction: column;
    transition: 150ms ease;
    transform-origin: center;
    margin-top: 20px;
    overflow-x: hidden;
    background-color: rgb(33, 33, 33);
}

.visibility-button {
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 8px;
    width: 40%;
    outline: none;
    background-color: white;
    border: none;
    margin-top: 5px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.input-field {
    height: 50px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-left: 20px;
}

.submit-button {
    border-radius: 8px;
    background-color: #8FABD4;
    width: 40%;
    height: 30px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.option-button {
    border: none;
    background-color: white;
    margin-bottom: 5px;
}

.form-bottom {
    display: flex;
    flex-direction: row;
}

.cancel-button {
    border: none;
    background-color: white;
}

.add-button {
    border-radius: 8px;
    width: 35%;
    height: 40px;
    background-color: inherit;
    margin-left: 10px;
    margin-top: 10px;
}

.Add {
    border: 8px;
    border: 1px solid #ccc;
    border-left: 5px solid #3DB6B1;
    border-radius: 8px;
    margin-top: 10px;
}

.Keep {
    border: 8px;
    border: 1px solid #ccc;
    border-left: 5px solid #B7A3E3;
    border-radius: 8px;
    margin-top: 10px;
}

.Drop {
    border: 8px;
    border: 1px solid #ccc;
    border-left: 5px solid #2196F3;
    border-radius: 8px;
    margin-top: 10px;
}

.Improve {
    display: flex;
    flex-direction: column;
    border: 8px;
    border: 1px solid #ccc;
    border-left: 8px solid #1A2A80;
    border-radius: 8px;
    margin-top: 10px;
}