.item-container {
    display: flex;
    flex-direction: column;
    transition: 150ms ease;
    scale: 1.2;
    margin-top: 20px;
}

.visibility-button {
    margin-bottom: 10px;
    border-radius: 8px;
    width: 40%;
    outline: none;
    background-color: white;
    border: none;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.input-field {
    height: 80px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.submit-button {
    border-radius: 8px;
    background-color: #8FABD4;
    width: 40%;
    height: 40px;
    margin-right: 10px;
}

.option-button {
    border: none;
    background-color: white;
    margin-bottom: 5px;
}

.form-bottom {
    display: flex;
    flex-direction: row;
}

.cancel-button {
    border: none;
    background-color: white;
}

.add-button {
    border-radius: 8px;
    width: 25%;
    background-color: #AEDEFC;
}