.select-icon {
    width: 50px;
    height: 50px;
    margin-right: 25px;
    margin-left: 40px;
}

.select-title {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
}

.select-main {
    background-color: rgb(17, 17, 17);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.select-input {
    border-radius: 8px;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    background-color: rgb(34, 34, 34);
    color: rgb(232, 237, 239);
    scroll-snap-align: center;
    height: inherit;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    border-image: initial;
    overflow: hidden;
    border-radius: 20px;
    flex: 1 1 0%;
    border-width: 2px;
    width: 40rem;
    height: 20rem;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    margin-top: 100px;
}

.select-fieldset {
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-style: solid;
    border-color: #ffffff1f;
    border-image: initial;
    overflow: hidden;
    border-radius: 20px;
    /* flex: 1 1 0%; */
    border-width: 2px;
    width: 30rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    /* margin-top: 5px; */
}

.select-fieldset input {
    background-color: inherit;
    border: none;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    outline: none;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}

.select-input button {
    margin-top: 25px;
    width: 78%;
    height: 15%;
    border-radius: 10px;
    background-color: rgb(123, 81, 209);
    font-family: Poppins, "Poppins Fallback", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75;
    color: white;
}

.template-category {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.template-category button {
    line-height: 1.6;
    font-family: Poppins, "Poppins Fallback", Helvetica, Arial, sans-serif;
    border-radius: 8px;
    width: 10rem;
    height: 3rem;
    margin-bottom: 10px;
    font-family: Poppins, "Poppins Fallback", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 15px;
    background-color: #222;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: auto;
    justify-content: flex-start;
    /* -webkit-box-align: center; */
    align-items: center;
    /* position: relative; */
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    outline: 0px;
    margin: 0px 0px 8px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    border-image: initial;
}

.template-list {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.template-list button {
    line-height: 1.6;
    font-family: Poppins, "Poppins Fallback", Helvetica, Arial, sans-serif;
    border-radius: 8px;
    width: 10rem;
    height: 3rem;
    margin-bottom: 10px;
    font-family: Poppins, "Poppins Fallback", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 15px;
    background-color: #222;
    display: flex;
    /* -webkit-box-flex: 1; */
    flex-grow: 1;
    width: auto;
    justify-content: flex-start;
    /* -webkit-box-align: center; */
    align-items: center;
    /* position: relative; */
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    outline: 0px;
    margin: 0px 0px 8px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    border-image: initial;
}

.all-templates {
    display: flex;
    flex-direction: row;
    /* margin-right: 100px; */
}

.template-popup {
    background-color: rgb(17, 17, 17);
    /* visibility: hidden; */
    z-index: 1;
}

.template-popup h2 {
    color: white;
}