.sign-in-google {
    border-radius: 8px;
    height: 40px;
    width: 150px;
    font-size: 15px;
}

.google-btn img {
    height: 18px;
    width: 18px;
    margin-right: 8px;
}

.google-btn:active {
    background-color: #eee;
}