.visibility-button {
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 8px;
    width: 40%;
    outline: none;
    background-color: white;
    border: none;
    margin-top: 5px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.option-button {
    border: none;
    background-color: white;
    margin-bottom: 5px;
}